.statistics {
    margin: 50px;
    border: 2px solid rgb(18, 30, 47);
    box-shadow: 18px 22px 32px 0px rgb(51, 77, 114, 0.5);
    background:  linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  }
  
  .title {
    text-align: center;
    width: 400px;
    padding: 40px;
    margin: auto;
    text-transform: uppercase;
  }
  
  .statList {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .item {
    padding: 40px;
    text-align: center;
    
  }
  
  .text {
    color: rgb(18, 30, 47);
    display: block;
    text-shadow: 1px 1px 2px rgb(106, 106, 106), -1px -1px 2px rgb(106, 106, 106);
  }
